.header{
    width: 1600px;
    height: 75px;
    background: #222222;
    flex-wrap: nowrap;
}
.logo{
    display: flex;
    width: 111px;
    height: 29px;
    padding-left: 200px;
    justify-content: flex-start;
    gap: 38px;
    padding-top: 18px;

}
.button__copy{
    display: flex;
    gap: 30px;
    width: 159px;
    justify-content: flex-end;
    padding-left: 840px;
    padding-right: 240px;
    
    
}
.logo__header{
    width: 44px;
    height: 35px;
   
}
.lupa{
    width: 24px;
    height: 26.79px;
    padding-top: 9px;
}

.image__header1{
    width: 31px;
    height: 21px;
    padding-top: 10px;

}
.image__header2{
    height: 27px;
    padding-top: 9px;
}
.image__header3{
    height: 27px;
    padding-top: 9px;
    
}
.top__content{
    width: 1600px;
    height: 764px;
    top: 75px;
    background: #F1E4E6;
    
}
/* большая картинка. мужчина в куртке */
.top__img{
    width: 800.58px;
    height: 764px;
    right: 54%;
    left: 20.69%;
       
}

.top__text{
    /* display: flex; */
    /* display: inline-block; */
    position: absolute;
    left: 54%;
    right: 20.69%;
    /* top: 12.48%; */
    bottom: 84.34%;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    padding: 0;
    
    color: #222222;
    width: 405px;
    height: 93.1px;
    top: 0;
    left: 864px;
    margin-top: 120px;
    /* margin-top: 551px; */


     
}

.img__up1{
    width: 12px;
    height: 92px;
    padding-top: 245px; 
    left: 864px;
    
    

}
.text__h1{
    
    color: #222222;
    font-family: Lato;
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    letter-spacing: 0em;
    margin: 0;
    position: absolute;
    left: 20px;
    right: 20.69%;
    top: 250px;
}

.text__h2{
    color: #222222;
    font-family: Lato;
    font-size: 32px;
    font-weight: 700;
    line-height: -0;
    letter-spacing: 0em;
    margin-top: -30px;
    margin-bottom: -23px;
    padding-left: 20px;
   
    
}
.text__h3{
    font-family: Lato;
    font-size: 37px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
    color: #F16D7F;
    margin: 0;
    padding-left: 258px;
    
    
    

}

.top__content_next{
    
    padding-top: 75px;
    width: 1140px;
    height: 470px;
    top: 904px;
    padding-left: 230px;
    padding-right: 230px;
    justify-content: space-between;
}

.img__next2{
    padding-left: 25px;
}
.img__next{
    padding-left: 25px;
}
.img__next4{
    padding-top: 25px;
}
.text__h4{
    
    color: #FFFFFF;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    width: 154px;
    height: 50px;
    /* top: 1009px;; */
    padding-left: 100px;
    margin-top: -369px;
    
}
.text__h5{
    color:  #F16D7F;
    font-family: Lato;
    font-size: 24px;
    letter-spacing: 0em;
    text-align: left;
    height: 115px;
    padding-left: 97px;
    margin-top: -45px;

}
.text__h41{
    color: #FFFFFF;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
    width: 110px;
    height: 50px;

    padding-left: 515px;
    margin-top: -150px;
    margin-bottom: 0;  

}

.text__h51{
    color:  #F16D7F;
    font-family: Lato;
    font-size: 24px;
    letter-spacing: 0em;
    text-align: center;
    height: 115px;
    margin-top: -35px;
}

.text__h42{
   
    color: #FFFFFF;
    font-family: Lato;
    font-size: 15.5px;
    font-weight: 400; 
    line-height: 19px;
    text-align: center;
    width: 115px;
    height: 50px;
    justify-content: space-around;
    padding-left: 900px;
    margin-top: -150px;
  
}
.text__h52{
    color:  #F16D7F;
    font-family: Lato;
    font-size: 24px;
    letter-spacing: 0em;
    text-align: right;
    height: 115px;
    margin-top: -47px;
    padding-right: 125px;
}

.text__h43{
   
    color: #FFFFFF;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400; 
    line-height: 19px;
    text-align: center;
    width: 1140px;
    height: 180px;
    justify-content: space-around;
    margin-top: 125px;

}
.text__h53{
    color:  #F16D7F;
    font-family: Lato;
    font-size: 24px;
    letter-spacing: 0em;
    text-align: center;
    height: 115px;
    width: 1140px;
    height: 180px;
    justify-content: space-around;
    margin-top: -175px;
}


.top__content_below{
    padding-top: 65px;
    width: 1140px;
    height: 1395px;
    border: 1px;
    padding-left: 230px;
    padding-right: 230px;
}
.text__h6{
    color: #222222;
    font-family: Lato;
    font-size: 29px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    width: 336px;
    height: 140px;
    top: 1380px;
    padding-left: 450px;
}

.text__h7{
    color: #9F9F9F;
    width: 336px;
    height: 17px;
    margin-top: -20px;
    left: 631px;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    /* line-height: 17px; */
    letter-spacing: 0em;
    text-align: center;
    padding-left: 385px;
}
.boxall{
    display: flex;
    justify-content: space-between;
}
.boxall1{
    display: flex;
    justify-content: space-between;
}

.box1{
    padding-top: 35px;
    padding-left: 23px;
    width: 338px;
    height: 125px;
    background: #F8F8F8;
      
}

.box2{
   
    background: #F8F8F8;
    padding-left: 25px;
    justify-content: center;
    width: 338px;
    height: 125px;
    padding-top: 35px;
}
.box3{
    /* margin-top: -140px;
    padding-left: 408px;
    width: 338px;
    height: 125px; */
    background: #F8F8F8;
    padding-left: 25px;
    justify-content: center;
    width: 338px;
    height: 125px;
    padding-top: 35px;
}

.box4{
    padding-top: 35px;
    padding-left: 23px;
    width: 338px;
    height: 125px;
    background: #F8F8F8;
    margin-bottom: 25px;
    
}

.box5{
    padding-top: 35px;
    padding-left: 23px;
    width: 338px;
    height: 125px;
    background: #F8F8F8;
    margin-bottom: 25px;
}

.box6{
    padding-top: 35px;
    padding-left: 23px;
    width: 338px;
    height: 125px;
    background: #F8F8F8;
    margin-bottom: 25px;
}



.text__h6{
    width: 182px;
    height: 36px;
    top: 1470px;
    left: 710.36px;
    justify-content: center;
}
.text__h8{
    width: 250.11px;
    height: 14px;
    font-family: Lato;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: -15px;

}
.text__h9{
    color:  #9F9F9F;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;


}

.text__h10{
    color: #F16D7F;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;

}
.img__below2{
    
    padding-left: 25px;
  
   
}
.img__below{
    padding-left: 25px;

}
.img__below1{
    padding-top: 35px;
    padding-left: 0;
    width: 360px;
}

.img__below3{
    padding-top: 25px;
}
.img__below4{
    padding-top: 25px;
    padding-left: 0px;
    margin-left: 0;
}
.img__below5{
    padding-top: 25px;
    padding-left: 25px;
    
}
.img__below6{
    padding-top: 25px;
    padding-left: 25px;
}
.top__button{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    
}
.button__1{
    
    border-color: #FF6A6A;
    color: #FF6A6A;
    background-color: #FFFFFF;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    /* margin-left: 830px; */
    
    width: 212px;
    height: 48px;
   
 }
.lato-thin {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
.footer{
    width: 1500px;
    height: 868px;
}
.first__footer{
    display: flex;
    justify-content: center;
    gap: 90px;
    width: 100%;
    height: 180px;
    background: #222224;
    
    flex-wrap: nowrap;
    font-family: Lato;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 50px;
    margin-left: -230px;
    padding: 50px;
    padding-top: 100px;
    
}
.foot__box{
    width: 310px;    

}
.foot__box1{
    width: 310px;
    margin-top: -8px;
    
}
.foot__box2{
    width: 310px;
    margin-top: -5px;
}   
.footer__text{
    color: #FBFBFB;
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;

}
.footer__text__long{
    color:#9F9F9F;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;

}
.footer__text__right{
    

    font-style: Lato;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;

}
.footer__text__long__right{
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
}


.second__footer{
    display: flex;
    justify-content: space-around;
    
    background-image: url("img/Layer 41.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    height: 350px;
    
    margin-left: -230px;
    width: 100%;
    padding: 50px;
}

.foot__box3{
    width: 25%;
    text-align: center;
    margin-top: 50px;
    margin-left: -300px;
    align-items: center;

}
.foot__box4{
    width: 33%;
    margin-top: 80px;
    text-align: center;
 
    align-items: center;
}

.image__footer__face{
    opacity: 1;
    
}
.index.html{
    width: 356px;
    height: 49px;
    top: 243px;
    left: 917px;

}
.button__right{
    background-color: #D73C3C;
    color: #FFFFFF;
    
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    border-radius: 0px 20px 20px 0;
    border-color: #D73C3C;
    gap: 0;
    margin-left: -5px;

    width: 100px;
    height: 50px;


    

}
#inputField{
    background: #e1e1e19d;
    border-color: e1e1e19d;
    border-radius: 20px 0  0 20px;
    width: 256px;
    height: 44px;

    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;

    margin-top: -10px;
    



}
.third__footer{
    display: flex;
    justify-content: space-between;
    width: 1600px;
    height: 75px;
    background: #222222;
    flex-wrap: nowrap;
    /* margin-top: -20px; */
    margin-left: -230px;

}
.image__footer__squares31{
    display: none;
}
.footer__text__2022{
    color: #9F9F9F;
    margin-left: 200px;

    width: 332px;
    height: 19px;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: center;
    align-items: center;


}
.foot__right_bottom{
    width: 147.66px;
    height: 32px;
    margin-right: 180px;
    margin-top: 20px;
    
    
}
  /*Для планшета  */

@media screen and (max-device-width: 768px) {
    .header{
        width: 768px;
        height: 74px;
               
    }
    .logo{
        height: 38px;
        padding-left: 32px;

      
    }
    .button__copy{
        /* background-color: #222222; */
        justify-content: space-between;
        width: 169px;
        height: 37px;
        padding-left: 385px;
        padding-right: 32px;
        margin-top: -3px;
    }
    .logo__header{
     
        height: 38px;
        padding-right: 10px;
        padding-top: 17px;
        margin-top: -15px;
    }
    .lupa{
        width: 26px;
        height: 26.79px;  
        margin-top: 2px;

    }
      
    .image__header1{
        width: 32px;
        height: 23px;
        padding-top: 17px;
    }
    .image__header2{
        width: 29px;
        height: 29px; 
        padding-top: 13px;
    }
    .image__header3{
        width: 32px;
        height: 29px;
        padding-top: 13px;
        
    }
   
    
    .top__content{
        display: flex;
        justify-content: start;
        width: 769.57px;
        height: 367.57px;
        background: #F1E4E6;
        /* padding-bottom: 65px; */
    }
    .img__up{
        width: 386px;
        height: 368px;
    }
    .top__text{
        width: 311px;
        height: 92px;
        
    }
    .img__up1{
        width: 12px;
        height: 92px;
        /* padding-top: 121px; */
        margin-left: -425px;
        margin-top: -143px;
         
    }
    
    .text__h1{
        width: 283px;
        height: 78px;
        font-size: 44px;
        line-height: 53px;
        text-align: left;
        margin-left: -425px;
        margin-top: -147px;
    }
    
    .text__h2{
        font-size: 24px;
        line-height: 29px;
        text-align: left;
        margin-left: -425px;
        margin-top: -52px;
        width: 283px;
        height: 78px;
    }
    .text__h3{
        font-size: 24px;
        line-height: 29px;
        margin-left: -485px;
        margin-top: -78px;
        width: 283px;
        height: 78px;     
      
    }
    
     .top__content_next{
        padding-top: 65px;
        width: 768px;
        height: 303px;
        top: 507px;
        margin-left: -234px;
    }
    .img__next1{
        width: 232px;
        height: 167px;
        padding-left: 16px;
       
    }
    .img__next2{
        width: 232px;
        height: 167px;
        padding-left: 17px;
    }
    .img__next{
        width: 232px;
        height: 167px;
       
        padding-left: 17px;
    }
    .img__next4{
        width: 738px;
        height: 116.04px;
        padding-top: 17px;
        padding-left: 16px;
    
    }
    .text__h4{
        color:white;
        font-family: Lato;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: center;
        width: 154px;
        height: 50px;
        padding-left: 55px;
        margin-top: -249px;
        
    
    }
    .text__h5{
        color:  #F16D7F;
        font-family: Lato;
        font-weight: 700;
        font-size: 24px;
        letter-spacing: 0em;
        text-align: left;
        height: 115px;
        padding-left: 55px;
        margin-top: -45px;
        line-height: 28px;
        
    }
    .text__h41{
        color: #FFFFFF;
        font-family: Lato;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        text-align: center;
        width: 110px;
        height: 50px;
    
        padding-left: 333px;
        margin-top: -152px;
        margin-bottom: 0;       
    
    }
    
    .text__h51{
        color:  #F16D7F;
        font-family: Lato;
        font-size: 24px;
        letter-spacing: 0em;
        text-align: center;
        height: 115px;
        margin-top: -35px;
    }
    
    .text__h42{
        color:#FFFFFF;
        font-family: Lato;
        font-size: 16px;
        font-weight: 400; 
        line-height: 19px;
        text-align: center;
        width: 115px;
        height: 50px;
        justify-content: space-around;
        padding-left: 585px;
        margin-top: -150px;  
      
    }
    .text__h52{
        color:  #F16D7F;
        font-family: Lato;
        font-size: 24px;
        letter-spacing: 0em;
        text-align: right;
        height: 115px;
        margin-top: -47px;
        padding-right: 71px;
    }
       
    .text__h43{
        color:#FFFFFF;
        font-family: Lato;
        font-size: 16px;
        font-weight: 400; 
        line-height: 19px;
        text-align: center;
        width: 160px;
        height: 50px;
        margin-top: 25px;
        margin-left: 305px;
    }    
    .text__h53{
        color:  #F16D7F;
        font-family: Lato;
        font-size: 24px;
        letter-spacing: 0em;
        text-align: center;
        width: 160px;
        height: 50px;
        margin-top: -45px;
        margin-left: 305px;
    }
    .top__content_below{
        background-color: #FFFFFF;
        justify-content: space-around;
        text-align: center;
        padding-top: 45px;
        width: 749px;
        height: 1395px;
        margin-left: -220px;
        margin-right: 32px;
        
    
    
    }
    .img__below1{
        /* padding-right: 16px; */
        width: 360px;
        height: 420px;
        padding-top: 25px;
    }
    .img__below{
        padding-top: 176px;
      
    
    }
    .text__h6{
        font-size: 30px;
        margin-left: -225px;
        width: 302px;
        height: 36px;
       
      
    }
    .text__h7{
        line-height: 17px;
        margin-left: -185px;
      
    }   
       
    .box1{
        
        margin-top: 3px;
        padding-left: 15px;
        width: 329px;
        height: 132px;
        padding-top: 35px;
        padding-right: 17px;
           
    }
    
    .box2{
        /* justify-content: left; */
        width: 336px;
        height: 132px;
        margin-top: 3px;
        margin-right: 0;
        padding-top: 35px;
     
       
       
    }
    .img__below{
        display: none;
    }
    .img__below4{

        display: none;
     
    }
    .img__below5{
        padding-top: 17px;
        margin-left: -68px;
        
    }
    .img__below6{
        padding-top: 17px;
        margin-right: -38px;
        padding-left: 22px;
    }
    .box3{
       display: none;
        
    }
    
    .box4{
        display: none;
    }
    .box5{
        margin-left: -2px;
    }
    
    .text__h8{
        
        margin-left: 16px;
    
        
    }
    .text__h9{
       
        font-weight: 410;
        
        margin-left: 16px;
        
    }
    
    .text__h10{
        
        margin-left: 16px;
    
    }
      
    .button__1{
        
        margin-bottom: 10px ;
        margin-left: 30px;
    } 

    .footer{
        width: 100%;
        margin-left: 210px;
        margin-right: 40px;
     

    }
    .first__footer{
        width: 498px;
        height: 350px;
        margin-right: 180px;
        flex-direction: column;
        gap: 0;
        padding-left: 235px;
        padding-top:70px;

    }
    .foot__box2{
        padding-bottom: 10px;
    }
    .second__footer{
        flex-direction: column;
        padding-left: 460px;
        gap: 25px;
        height: 400px;
        width: 325px;
        padding-right: 0;
     
    }
    .foot__box3{
        margin-top: 45px;
        height: 105px;
        width: 350px;
        margin-left: -250px;
    }
    .footer__text__long__left{
       
        font-size: 20px;
        font-weight: 400;
        line-height: 20px;
        
        text-align: center;
    }
    .footer__text__long__right{
        width: 500px;
        font-size: 18px;
        color: #9F9F9F;
    
        line-height: 18px;
        margin-top: -15px;
        margin-left: -70px;
    }
    .footer__text__right{
        font-family: Lato;
        margin-left: -45px;
        font-size: 24px;
        font-weight: 600;
        

    }
    .footer__button{
        margin-left: -45px;
        padding-bottom: 105px;
    }
    .foot__box4{
        padding: 0;
        width: 400px;
        margin-left: -250px;
    }  
    .third__footer{
        width: 776px;
        height: 75px;
        margin-bottom: 10px;
    }
    .footer__text__2022{
        text-align: left;
        margin-left: 50px;
    }
    .foot__right_bottom{
        margin-right: 50px;
    
    }
    .image__footer__squares3{
        display: none;
    }
    .image__footer__squares31{
        display: initial;
    }
}



  /*Для телефона  */
    


@media (max-device-width: 321px) {
    .header{ 
        width: 320px;
        height: 55px;
    }   
    .logo{
        height: 38px;
        padding-left: 15px;
        padding-top: 10px;
        gap:18px;
    }
    .button__copy{
        width: 32px;
        height: 23px;
        gap: 0;
        padding: 0;
        margin-right: -320px;
    }
    .logo__header{
        width: 35.2px;
        height: 28px;
    }
    .lupa{
        padding-top: 7px;
        width: 19.2px;
        height: 21.4px;
    }
    .image__header1{
        width: 24.8px;
        height: 16.8px;
        padding-top: 12px;
        margin-left: 155px;

    }
    .image__header2{
        display: none;

    }
    .image__header3{
        display: none;
    }
    .top__content{
        width: 320px;
        height: 285px;
        margin-bottom: 5px;
    }
    .img__up{
        display: none;
    }  
     
    .top__text{
   
        width: 236px;
        height: 66px;
        top: 222px;
        left: 83px;
        right: 0;
        bottom: 0;
        font-size: 38px;
        line-height: 45px;
    }
    .img__up1{
        display: flex ; 
        width: 10px ;
        height: 47px;
        padding: 0px;
        margin-left: -16px;
        margin-top: -163px;   
        justify-content: center; 
        align-items: center;   
    }

    
    .text__h1{
        font-size: 28px;
        font-weight: 800;
        line-height: 45px;
        margin-left: -16px;
        margin-top: -417px;
        padding: 0;
    }    
    .text__h2{
        font-size: 14px;
        font-weight: 800;
        margin-left: 7px;
        margin-top: -20px;
        padding: 0;
       
        
    }
    .text__h3{
        font-size: 14px;
        font-weight: 800;
        margin-left: 110px;
        margin-top: -78px;
        padding: 0;
    }
    .top__content_next{

        display: flex;
        flex-direction: column;
        
        padding-top: 44px; 
        width: 320px;
        margin-left: -225px;
    }  
    .img__next1{
        width: 288px;
        height: 216.6px;
        padding-left: 5px;
        margin-bottom: 15px;
    }
    .img__next2{
        width: 288px;
        height: 216.6px;
        padding-left: 5px;
        margin-bottom: 15px;
    }
    .img__next4{
        width: 288px;
        height: 93.28px;
        padding-left: 5px;
        
    }
    .img__next{
        width: 288px;
        height: 216.6px;
        padding-left: 5px;
        
    }
    .text__h4{
        font-size: 12px;
        font-weight: 400;
        line-height: 13px;
        padding-left: 73px;
        margin-top: -721px;
    }    
    .text__h5{
        font-weight: 700;
        font-size: 19px;
        padding-left: 95px;
        margin-top: -40px;
      
        
    }
    .text__h41{
        
        font-size: 12px;
        font-weight: 400;
        line-height: 13px;
        padding-left: 91px;
        margin-top: 113px;
        margin-bottom: 0;       
    
    }
    .text__h51{
        font-weight: 700;
        font-size: 19px;
        margin-left: -25px;
    }
    
    .text__h42{
        font-size: 12px;
        font-weight: 400;
        line-height: 13px;
      
        margin-bottom: 0;    
        padding-left:101px;
        margin-top: 100px;  
      
    }
    .text__h52{
        font-weight: 700;
        font-size: 19px;
        width: 95px;
        margin-left: 105px;
        margin-top: -35px;
    }
    .text__h43{
        font-size: 12px;
        font-weight: 400;
        line-height: 13px;
        margin-bottom: 0;   
        margin-top: 45px;
        margin-left: 75px;
    }     
       
    
    .text__h53{
        font-weight: 700;
        font-size: 19px;
        width: 95px;               
        margin-top: -35px;
        margin-left: 95px;
    }
     

    .top__content_below{
        margin-top: 1420px;
        display: flex;
        flex-direction: column;
        width: 320px;
       
    }
    .text__h6{
        font-size: 27px;
        margin-left: -455px;
              
      
    }
    .text__h7{
        font-size: 12px;
        line-height: 17px;
        margin-left: -410px;
      
    }
    .text__h8{
        font-size: 11px ;
        width: 250px;
        padding: 0;
        margin-left: -3px;
        font-weight: 600;

    }
    .text__h9{
        font-size: 12px ;
        width: 250px;
        padding: 0;
        margin-left: -3px;

    }
    .text__h10{
        font-size: 12px ;
        padding: 0;
        width: 250px;
        margin-left: -3px;
    }
    
    .img__below1{
        /* padding-right: 16px; */
        width: 288px;
        height: 350px;
        margin-top: 15px;
        margin-left: -25px;
    }
    .img__below{
        display: initial;
        /* padding-right: 16px; */
        width: 288px;
        height: 350px;
        margin-top: -10px;
        margin-left: -45px;
    }
    .img__below2{
        /* padding-right: 16px; */
        width: 288px;
        height: 350px;
        margin-top: 165px;
        margin-left: -46px;
    }
    .img__below4{
        display: initial;
        /* padding-right: 16px; */
        width: 288px;
        height: 350px;
        margin-top: -30px;
        margin-left: -17px;
    }
    .img__below5{
        /* padding-right: 16px; */
        width: 288px;
        height: 350px;
        margin-top: 155px;
        margin-left: -40px;
    }
    .img__below6{
        /* padding-right: 16px; */
        width: 288px;
        height: 350px;
        margin-top: 155px;
        margin-left: -75px;
    }
    .box1{
        width: 257px;
        height: 105px;
        margin-top: -1048px;
        margin-left: 3px;
        margin-bottom: 40px;

    }
    .box2{
        width: 263px;
        height: 105px;
        margin-top: -524px;
        margin-left: -309px;
        margin-bottom: 40px;
    }
    .box3{
        display: initial;
        justify-content: st;
        width: 264px;
        height: 105px;
        margin-top: -4px;
        margin-left: -312px;
        margin-bottom: 40px;
        margin-right: 26px;
    }
    .box4{
        display: initial;
        width: 266px;
        height: 105px;
        margin-top: -1055px;
        margin-left: 7px;
        margin-bottom: 40px;
    }
    .box5{
        display: initial;
        width: 266px;
        height: 105px;
        margin-top: -530px;
        margin-left: -342px;
        margin-bottom: 40px;
    }
    .box6{
        display: initial;
        width: 266px;
        height: 105px;
        margin-top: -4px;
        margin-left: -343px;
        /* margin-bottom: 40px; */
        margin-right: 23px;
    }
    .button__1{
        margin-top: -10px;
        margin-left: -10px;
    }


    .first__footer{
        width: 290px;
        padding-left: 10px;
        margin-left: -240px;
    }
    .foot__box{
       width: 285px;
       margin-left: 25px;
        
    }
    .foot__box1{
        width: 285px;
        margin-left: 25px;
     }
    .foot__box2{
        width: 285px;
        margin-left: 25px;
         
     }
     .footer__text{
        line-height: 20px;
        padding: 0;

     }

    .footer__text__long{
        font-size: 13px;
        line-height: 13px;
        padding-bottom: 10px;

    }
    
    .second__footer{
        width: 290px;
        padding-left: 50px;
       
    }
    .foot__box3{
        text-align: center;
        margin-left: -65px;
    
    }
    .foot__box4{
       margin-left: -55px;
       
    }
    .index.html{
       padding: 10px;
       
    }
    .button__right{
        height: 48px;
        margin-top: 15px;
        
    }
    .footer__text__long__right{
        font-size: 14px;

    }
    .footer__text__long__left{
        font-size: 17px;
        padding-left: 15px;
        padding-right: 15px;

    }
    .footer__text__right{
        color: #9F9F9F;
    }
    #inputField{
        width: 175px;
    }
    .third__footer{
        width: 340px;
        justify-content: center;
        height: 145px;
        gap: 20px;
        flex-direction: column-reverse;
    }
    .foot__right_bottom_squares{
        margin-top: 1px;
        margin-left: -3px;
        width: 340px;
        padding-bottom: 20px;
    }
    .footer__text__2022{
        margin-top: -5px;
       
    }



}




    






    

 